<hr>
<h3>Cricketers Route Parameters</h3>
<table class="table table-hover">
  <thead>
    <td> Name</td>
    <td>Type</td>
    <td colspan="3"> Actions</td>
  </thead>
  <tbody>
    <tr *ngFor="let x of cricketers; let i = index">
      <td> {{x.name}}</td>
      <td> {{x.type}}</td>
      <td>
        <a class="btn btn-info" [routerLink]="['/','app','cricketers', i]"> View from Params</a>
      </td>
      <td>
        <button class="btn btn-success" (click)="selectCricketer(x, i)"> View from Component</button>
      </td>
      <td>
        <a class="btn btn-warning" routerLink="queryParams?id={{i}}"> View from Query Params</a>
      </td>

    </tr>
  </tbody>
</table>




<button class="btn btn-success" (click)="clearSelection()"> Clear Selection</button>

<app-cricketer-view *ngIf="activeIndex > -1" #viewCricketerComponent [cricketer]="activeCricketer" (nameEmitter)="doSomethingwithEmit($event)"></app-cricketer-view>